###########################################################################
# THIS IS A CONFIGURATION FILE FOR EXPERIMENT REPRODUCIBILITY             #
###########################################################################
# NOTATION                                                                #
# - do not incapsulate strings between ''                                 #
# - do not put a ; at the end of the line                                 #
# - enclose matrix values between []                                      #
###########################################################################

name                            = dukeChapel
camera                          = 1
world                           = 1

# INFORMATION RELATED TO THE SEQUENCE
startingFrame                   = 1
endingFrame                     = 30000
frameRate                       = 59.940059
frameAdjustment                 = 41223
imageWidth                      = 1920
imageHeight                     = 1080

# HOMOGRAPHY INFORMATION
imagePoints                     = [413.75,571.250;1098.875,510.125;1856.375,660.875;789.875,773.375]
worldPoints                     = [24.955,72.67;24.955,79.98;16.295,82.58;16.295,71.86]

# SOME FILTERING INFO
minTargetDistance               = 0.5
confidenceThresh                = -1
maxPedestrianHeight             = 330
minimumTrajectoryDuration       = 50

# SPECIFY NON-ROI ZONES - detections inside the polygons will be discarded
nonROI{1}                       = [1,1;1,1080;1920,1080;1920,664;202,823;195,10]
nonROI{2}                       = [198,1;198,530;1920,393;1920,1]
nonROI{3}                       = [1373.75 418.25;1385.75 592.25;1586.75 610.25;1916.75 568.25;1912.25 283.25;1373.75 418.25]
nonROI{4}                       = [199 516;509 494;552 529;590 694;137 738;136 525.5;198 515]

# OPTIMIZATION METHOD - can be BIP (exact) or AL-ICM (approximate)
method                          = AL-ICM
useGrouping                     = 1

###########################################################################
# TRACKLETS PARAMETERS                                                    #
###########################################################################

loadTracklets                   = 0
loadAppearance                  = 1
tracklets.frameInterval         = 25
tracklets.alpha                 = 1
tracklets.beta                  = 0.01
tracklets.lambda                = 6
tracklets.mu                    = 0.25
tracklets.clusterCoeff          = 1
tracklets.nearestNeighbors      = 8
tracklets.speedLimit            = 20
tracklets.distanceType          = histogram_intersection
tracklets.minTrackletLength     = 10

###########################################################################
# TRAJECTORIES PARAMETERS                                                 #
###########################################################################

loadTrajectories                = 0
trajectories.appearanceGroups   = 1
trajectories.alpha              = 1
trajectories.beta               = 0.01
trajectories.lambda             = 6
trajectories.mu                 = 0.15
trajectories.windowWidth        = 300
trajectories.overlap            = 150
trajectories.speedLimit         = 30
trajectories.distanceType       = histogram_intersection
trajectories.indifferenceTime   = 150

